.headTitle {
	font-size: 80px;
	display: inline;
}

.headSubtitle {
	margin: 0;
	font-size: 20px;
	margin-bottom: 20px;
	font-size: 220%;
	font-weight: 600;
}


.headFlavorText {
	font-size: 20px;
	margin-bottom: 50px;
}

.headTabs {
	width: 100%;
}

.headFlexbox {
	display: flex;
	justify-content: center;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	overflow: hidden;
}

.headFlexbox > div {
	display: inline-block;
	margin: 10px;
	padding: 20px;
}

.headMenuTitle {
	line-height: 0px;
	padding-top: 0px;
	border-top: 0px;
	margin-top: 30px;
	font-size: 50px;
}

.introduction {
	font-size: 20px;
	margin-bottom: 50px;
	font-size: 180%;
}

.betrayalMenuOptions {
	display: none;
	text-align: justify;
	margin: 0 auto;
	width: 100em;
}

.factions {
	color: #8888ff;
}

.members {
	color: #A0A0A0;
}

.factionsTitle {
	color: #8888ff;
	font-size: 125%;
}

.jaune {
	color: #f2c462;
}

.rivals {
	color: #f60239;
}

.allies {
	color: #4c9d49;
}

.neutral {
	color: #CCCC00;
}

.flavorText {
	display: block;
}
	
hr.style {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	margin-bottom: 0;
}

div.betrayalMenuOptions p {
	font-size: 155%;
	font-weight: 600;
}


#makeMeScrollable {
	width:100%;
	height: 440px;
	position: relative;
}

/* Replace the last selector for the type of element you have in
   your scroller. If you have div's use #makeMeScrollable div.scrollableArea div,
   if you have links use #makeMeScrollable div.scrollableArea a and so on. */
#makeMeScrollable div.scrollableArea div {
	position: relative;
	float: left;
	margin: 5px;
	padding: 40px;
	/* If you don't want the images in the scroller to be selectable, try the following
	   block of code. It's just a nice feature that prevent the images from
	   accidentally becoming selected/inverted when the user interacts with the scroller. */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


.navbar-fixed {
  position: fixed;
  top: -(3em);
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

nav {
  width: 100%;
  color: #000;
  background: #131310;
  font-weight: bold;
  letter-spacing: 0.025em;
}

nav ul {
  text-align: center;
  margin: 0;
}

nav ul li {
 display: inline-block;
 padding: 0 0em;
 line-height: 3em;
}


@font-face {
	font-family: "Fontin";
	src: url("fonts/fontin-smallcaps-webfont.woff") format("woff");
}

a {
	color: inherit;
    text-decoration: none;
}

h1 {
	color: #A85E28;
	font-family: 'Fontin', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
}

body {
    background-color: #131310;
	height: 100%;
}

p {
	color: #A78E74;
	font-family: 'Fontin', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
}

p wraelcast {
	font-size: 105%;
	font-weight: 600;
}

img.mainMenuBorder {
	border-color: #A78E74;
	border: 5;
	border-style: solid;
}

.menuButton {
	border: none;
	background-color: inherit;
	padding: 7px 14px;
	font-size: 40px;
	cursor: pointer;
	display: inline-block;
	color: #A85E28;
	font-family: 'Fontin', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
}

.menuButton:hover {
	border: none;
	background-color: inherit;
	padding: 7px 14px;
	font-size: 40px;
	cursor: pointer;
	display: inline-block;
	color: #7EBDC2;
	font-family: 'Fontin', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
}

.menuSeparator {
	color: #A78E74;
	font-weight: 600;
	font-family: 'Fontin', Arial, sans-serif;
	font-style: normal;
	font-size: 40px;
	padding: 7px 14px;
}

.imgBorder {
	border: 2px solid #A78E74;
	vertical-align: middle;
	display: table-cell;
	margin-right: 2em;
}

#imgBorderLeft {
	margin-left: 2em;
}

.betrayalFormatting {
  display: table;
}

span {
  vertical-align: middle;
  display: table-cell;
}

